[Unit]
Description=Initializes Chezmoi if directory is missing
ConditionPathExists=!%h/.local/share/chezmoi

[Service]
ExecStart=/bin/bash -c 'cp -a /usr/share/harness/dotfiles %h/.local/share/chezmoi && chezmoi apply'
Type=oneshot

[Install]
WantedBy=graphical-session-pre.target
